tests/simple02/simple02.xsd

<?xml version='1.0'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="urn:caementarii:simple"
           version="1.0">
    <xs:element name="personName">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" minOccurs="0"/>
                <xs:element name="forename" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="surname"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>